/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
/.DS_Store
.well-known
/public/.well-known

# Flutter and Dart build directories
**/build/
**/.dart_tool/
**/.packages
**/pubspec.lock
**/ios/Pods/
**/ios/Podfile.lock
**/android/.gradle/
**/android/local.properties
**/windows/flutter/generated_plugins.cmake
**/windows/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugin_registrant.cc
